<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h3>Booking List of {{ user.username }}</h3>
  <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
    <tr>
        <th bgcolor="#EE0000"><font color="#FFFFFF">Booking Hotel</font></th>
        <th bgcolor="#EE0000" width="150"><font color="#FFFFFF">City</font></th>
        <th bgcolor="#EE0000" width="200"><font color="#FFFFFF">Hotel Name</font></th>
        <th bgcolor="#EE0000" width="200"><font color="#FFFFFF">Room Type</font></th>
        <th bgcolor="#EE0000" width="800"><font color="#FFFFFF">Booking Data</font></th>
    </tr>
  {% for data in bookingDatas %}
    <tr>
        <td bgcolor="#99CC00" align="right" nowrap>予約{{ forloop.counter }}</td>
        <td bgcolor="#FFFFFF" valign="top" width="150">{{ data.0.0.city }}</td>
        <td bgcolor="#FFFFFF" valign="top" width="200">{{ data.0.0.hotel_name }}</td>
        <td bgcolor="#FFFFFF" width="200">{{ data.0.0.room_type }}</td>
        <td bgcolor="#FFFFFF" width="200">{{ data.1 }}</td>
    </tr>
  {% endfor %}
    </table>
    <a href="/">Home</a>
{% else %}
  <!-- <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="/booking/signup">signup</a> -->
{% endif %}
{% endblock %}

