<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1 style="color: #ff0000;">This page is Booking Hotel</h1>
  <h2>You are {{ user.username }}.</h2>

  <form action="/search_hotel" method="POST">
    {% csrf_token %}
    <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
      <tr>
        <th>項目</th>
        <th>入力値</th>
      </tr>
      <tr>
        <td>街を選択</td>
        <td> {{ form.city }} </td>
      </tr>
      <!-- <tr>
        <td>ホテルを選択</td>
        <td> {{ form.hotel_name }} </td>
      </tr>
      <tr>
        <td>部屋のタイプを選択</td>
        <td> {{ form.room_type }} </td>
      </tr>
      <tr> -->
        <td>予約する日を選択</td>
        <td><input type="date" name="time" required></input></td>
      </tr>
    </table>
  
    <br> 
    <input type="submit" value="submit" class="button"/>
  </form>
  <a href="/confirm_booking">予約確認画面へ</a>
  <br> 
  <a href="{% url 'logout' %}">logout</a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="/booking/signup">signup</a>
{% endif %}
<style type="text/css">
  .button {
    display       : inline-block;
    margin-bottom: 30px;
    border-radius : 5%;          /* 角丸       */
    font-size     : 9pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #000066;    /* 枠の指定 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #000066;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }
  </style>
{% endblock %}
